/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

body {
    background-color: #170622;
    color: #fff;
    /* max-width: 1500px; */
    margin: 0 auto;
    padding: 15px;
    margin: 0 50px 0 50px
}

header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;

    .tagLogo {
        color: #6a0dad;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.slogan{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;

    .textSlogan{
        max-width: 1200px;
    }
    img{
        width: 400px; 
        margin-left: 50px;
    }
    h1{
        font-size: 56px;
        line-height: 45px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;    
    }
}

section{
    margin-top: 10px;
}
ul {
    padding: 10px;
    margin-right: 10vh;
    display: flex;
    gap: 80px;
    list-style: none;
}

a {
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease;  
    padding-bottom: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

a:hover {
    border-bottom-color: #6a0dad; 
}

.contactMe{
    color: #fff;
    background-color: #6a0dad;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 100px #4c20c5 ; 
}
